---
layout: splash
permalink: /
header:
  overlay_color: "#5e616c"
  overlay_image: /assets/images/humanetech-community-hero.jpg
  og_image: /assets/images/humane-tech-community-ogimage.png
  actions:
    - label: "<i class='fas fa-sign-in-alt'></i> &nbsp;Join Our Quest"
      url: "/join/"
  caption:
excerpt: 'Our global community of concerned people focuses on the rising harms of new technology, as it is radically transforming our world. And our mission is to change this trend.<br/><br/><span  class="fas fa-quote-left"></span>&nbsp; <i>To Re-align Technology to Humanity&#8217;s Best Interests.</i> &nbsp;<span class="fas fa-quote-right"></span><br/><small>— <a href="https://humanetech.com">The Center for Humane Technology</a></small><br/><br/>'
feature_row:
  - image_path: /assets/images/strategic-pillar-cultural-awakening.png
    alt: "awareness"
    title: "Cultural Awakening"
    excerpt: "Our campaigns inform the public about the dangers and harms that come with modern technology, and we highlight solutions that already exist, and those we must find."
    url: "/strategy/awareness/"
    btn_class: "btn--primary"
    btn_label: "Awareness"
    btn_color: "#9B889E"
  - image_path: /assets/images/strategic-pillar-public-pressure.png
    alt: "fully responsive"
    title: "Public Pressure"
    excerpt: "Awareness leads to change in public opinion, and people applying political pressure, so that governments create law and regulations that protect us."
    url: "/strategy/regulation/"
    btn_class: "btn--primary"
    btn_label: "Regulation"
    btn_color: "#AA889A"
  - image_path: /assets/images/strategic-pillar-engage-employees.png
    alt: "100% free"
    title: "Engage Employees"
    excerpt: "By reaching out to the workfloor, to the companies and employees who are inventing our future technologies, we'll help them create what is best for humanity."
    url: "/strategy/adoption/"
    btn_class: "btn--primary"
    btn_label: "Adoption"
    btn_color: "#C08895"
feature_humanetech:
  - image_path: /assets/images/strategic-pillar-humane-technology.png
    alt: "application"
    title: "Apply Humane Technology"
    excerpt: "Our ever growing community of professionals, experts, scientists, people from all walks of life, is crowdsourcing a huge body of knowledge and experience about how to implement technology in better ways. To make it more humane.<br/>The best-practices, design patterns and work methods we collect, are continuously improved, and can be applied by everyone."
    url: "/strategy/application/"
    btn_class: "btn--primary"
    btn_label: "Application"
    btn_color: "#DB9288"
feature_quote1:
  - title: '<span  class="fas fa-quote-left"></span>&nbsp; Humane Tech is technology that is responsive to how humans learn, think, and create and thrive &nbsp;<span class="fas fa-quote-right"></span>'
  - excerpt: "<i>Ohio State University, humanetechosu.org</i>"
feature_quote2:
  - title: '<span  class="fas fa-quote-left"></span>&nbsp; Facing unprecedented challenges, we can choose to remain open to possibility and creativity—not mired in despair. &nbsp;<span class="fas fa-quote-right"></span>'
  - excerpt: "<i>Frances Moore Lappe, Activist</i>"
feature_quote3:
  - title: '<span  class="fas fa-quote-left"></span>&nbsp; We can create and enthusiastically share<br/>a solutions story today, every day.<br/>It is a revolutionary act. &nbsp;<span class="fas fa-quote-right"></span>'
  - excerpt: "<i>Frances Moore Lappe, Activist</i>"
feature_socialshare:
  - title: "Help Reinforce Our Message"
  - excerpt: 'Like, share and comment on &nbsp; [<i class="fab fa-twitter"></i>](https://twitter.com/humane_tech_now){: .btn .btn--twitter} [<i class="fab fa-facebook"></i>](https://www.facebook.com/humanetechnology){: .btn .btn--facebook} [<i class="fab fa-linkedin"></i>](https://www.linkedin.com/groups/12154112/){: .btn .btn--linkedin}'
under_construction:
  - excerpt: '<h2><span style="color: #B82910">&#x1f6e0; Under Construction</span> by a Community that <a href="https://community.humanetech.com/t/who-we-are-what-we-do-and-how-you-can-help-humane-technology-too/2955">You :heart: Can Join</a>!</h2>'
---

{% include feature_row id="under_construction" type="center" %}

{% include feature_row id="feature_quote1" type="center" %}

{% include feature_row %}

{% include feature_row id="feature_humanetech" type="left" %}

{% include feature_row id="feature_quote2" type="center" %}

{% include feature_row id="feature_quote3" type="center" %}

{% include feature_row id="feature_socialshare" type="center" %}