---
layout: splash
permalink: /
header:
  overlay_color: "#5e616c"
  overlay_image: /assets/images/humanetech-community-hero.png
  og_image: /assets/images/humane-tech-community-ogimage.png
  actions:
    - label: "<i class='fas fa-sign-in-alt'></i> &nbsp;Be a Builder"
      url: "/join/"
  caption:
excerpt: 'We are building the Pyramids of Humane Technology. We envision a future where we have unobtrusive technology that is empowering us and that allows humans to flourish and humanity to thrive. Where the digital world is a natural extension of the real one and a reflection of ourselves.<br/><br/><span  class="fas fa-quote-left"></span>&nbsp; <i>We Promote Solutions That Improve Wellbeing, Freedom and Society.</i> &nbsp;<span class="fas fa-quote-right"></span><br/>'
feature_row:
  - image_path: /assets/images/humanetech-pyramid-of-wellbeing-tinted-bare.png
    alt: "Pyramid of Wellbeing"
    title: "Pyramid of Wellbeing"
    excerpt: "Our campaigns inform the public about the dangers and harms that come with modern technology, and we highlight solutions that already exist, and those we must find."
    url: "/focus/wellbeing/"
    btn_class: "btn--primary"
    btn_label: "Wellbeing"
    btn_color: "#F16422"
  - image_path: /assets/images/humanetech-pyramid-of-freedom-tinted-bare.png
    alt: "Pyramid of Freedom"
    title: "Pyramid of Freedom"
    excerpt: "Awareness leads to change in public opinion, and people applying political pressure, so that governments create law and regulations that protect us."
    url: "/focus/freedom/"
    btn_class: "btn--primary"
    btn_label: "Freedom"
    btn_color: "#00C109"
  - image_path: /assets/images/humanetech-pyramid-of-society-tinted-bare.png
    alt: "Pyramid of Society"
    title: "Pyramid of Society"
    excerpt: "By reaching out to the workfloor, to the companies and employees who are inventing our future technologies, we'll help them create what is best for humanity."
    url: "/focus/society/"
    btn_class: "btn--primary"
    btn_label: "Society"
    btn_color: "#D91A0F"
feature_humanetech:
  - image_path: /assets/images/humanetech-pyramid-of-alignment-tinted-bare.png
    alt: "Pyramid of Alignment"
    title: "Pyramid of Technology Alignment"
    excerpt: "Our ever growing community of professionals, experts, scientists, people from all walks of life, is crowdsourcing a huge body of knowledge and experience about how to implement technology in better ways. To make it more humane.<br/>The best-practices, design patterns and work methods we collect, are continuously improved, and can be applied by everyone."
    url: "/focus/alignment/"
    btn_class: "btn--primary"
    btn_label: "Technology alignment"
    btn_color: "#0054a5"
feature_eradicate-harms:
  - title: We focus to eradicate <a href="">Harms of Technology</a>
feature_quote1:
  - title: '<span  class="fas fa-quote-left"></span>&nbsp; Humane Tech is technology that is responsive to how humans learn, think, and create and thrive &nbsp;<span class="fas fa-quote-right"></span>'
  - excerpt: "<i>Ohio State University, humanetechosu.org</i>"
feature_quote2:
  - title: '<span  class="fas fa-quote-left"></span>&nbsp; Facing unprecedented challenges, we can choose to remain open to possibility and creativity—not mired in despair. &nbsp;<span class="fas fa-quote-right"></span>'
  - excerpt: "<i>Frances Moore Lappe, Activist</i>"
feature_quote3:
  - title: '<span  class="fas fa-quote-left"></span>&nbsp; We can create and enthusiastically share<br/>a solutions story today, every day.<br/>It is a revolutionary act. &nbsp;<span class="fas fa-quote-right"></span>'
  - excerpt: "<i>Frances Moore Lappe, Activist</i>"
feature_socialshare:
  - title: "Help Reinforce Our Message"
  - excerpt: 'Like, share and comment on &nbsp; [<i class="fab fa-twitter"></i>](https://twitter.com/humane_tech_now){: .btn .btn--twitter} [<i class="fab fa-facebook"></i>](https://www.facebook.com/humanetechnology){: .btn .btn--facebook} [<i class="fab fa-linkedin"></i>](https://www.linkedin.com/groups/12154112/){: .btn .btn--linkedin}'
under_construction:
  - excerpt: '<h2><span style="color: #B82910">&#x1f6e0; Under Construction</span> by a Community that <a href="https://community.humanetech.com/t/who-we-are-what-we-do-and-how-you-can-help-humane-technology-too/2955">You :heart: Can Join</a>!</h2>'
---

{% include feature_row id="feature_eradicate-harms" type="center" %}

{% include feature_row %}

{% include feature_row id="feature_humanetech" type="left" %}

{% include feature_row id="feature_quote1" type="center" %}

{% include feature_row id="feature_quote2" type="center" %}

{% include feature_row id="feature_quote3" type="center" %}

{% include feature_row id="feature_socialshare" type="center" %}

{% include feature_row id="under_construction" type="center" %}